@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/static/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/static/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent images from breaking layouts */
img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

:root {
  /* Colors */
  --color-grey900: hsl(0, 0%, 8%);
  --color-grey800: hsl(0, 0%, 12%);
  --color-grey700: hsl(0, 0%, 20%);
  --color-green: hsl(75, 94%, 57%);
  --color-white: hsl(0, 0%, 100%);

  /* Fonts */
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
